@import 'maplibre-gl/dist/maplibre-gl.css';

body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevents scrollbars */
}